/* Carousel Pagination Dots */

.dot-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .carousel__dot {
    width: 50px;
    height: 10px;
    border: none;
    border-radius: 10px;
    margin: 0 4px;
    padding: 0;
    @apply bg-parrotGreen;
  }

  .carousel__dot--selected {
    width: 50px;
    height: 10px;
    border-radius: 10px;
    @apply bg-darkGreen;
    transition: background 0.4s ease;
  }
}


/* Slide Flip on Hover */

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group-hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}